@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>You are being redirected to the login page...</p>
    <p>If the page does not redirect automatically, please <a href="@Url.Action("Login", "Account")">click here</a>.</p>
</div>
