@{
    ViewData["Title"] = "Order Success";
}

<div class="container">
    <div class="alert alert-success">
        <h4>@ViewData["Message"]</h4>
    </div>
    <a href="/Products/Index" class="btn btn-primary">OK</a>
</div>